{% extends 'layouts/errors.twig' %}

{% block title %}404 -  Not found{% endblock %}

{% block content %}

	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				{% if message %}
					{{ message }}
				{% else %}
					Page not found.
				{% endif %}
			</h1>
		</div>
	</div>

{% endblock %}