{% extends 'layouts/app.twig' %}

{% block title %}
	{{ user.name ? user.username : 'User not found' }} - Users
{% endblock %}

{% block content %}

	{% if not user %}
		<div class="message">
			<div class="message-body">
				User not found
			</div>
		</div>
	{% else %}
		<h2 class="title is-2">{{ user.username }}</h2>

		<ul>
			<li>{{ user.id }}</li>
			<li>{{ user.email }}</li>
		</ul>
	{% endif %}

{% endblock %}