{% extends 'layouts/app.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

	<div class="columns">
		<div class="column is-one-third is-offset-one-third">
			<h2 class="title is-2">
				Dashboard
			</h2>
		</div>
	</div>

{% endblock %}