{% extends 'layouts/app.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}

	<div class="columns">
		<div class="column is-one-third is-offset-one-third">
			<h2 class="title is-2">
				Contact us
			</h2>

			<form action="{{ path_for('contact.store') }}" method="POST">
				<div class="field">
					<label for="name" class="label">Name</label>

					<input type="text" class="input" name="name" id="name">
				</div>

				<div class="field">
					<label for="email" class="label">Email</label>

					<input type="email" class="input" name="email" id="email">
				</div>

				<div class="field">
					<label for="message" class="label">Message</label>

					<textarea class="textarea" name="message" id="message"></textarea>
				</div>

				<div class="field">
					<button class="button is-info" type="submit">
						Contact us
					</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}