<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="{{ base_url() }}/css/app.css">
	</head>
	<body>
		<section class="hero is-info is-fullheight">
		    <div class="hero-head">
		    	{% include 'layouts/partials/_nav-auth.twig' %}
		    </div>

		  	<div class="hero-body">
			    <div class="container">
			    	<div class="columns">
			    		<div class="column is-half-tablet is-offset-one-quarter-tablet">
							{% block content %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>